.ChatInterface {
    flex:1;
  background-color: #ffffff; /* الصندوق أبيض بالكامل ليبرز */
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 500px;
    
}
 .chat-header {
    background:#e7c4dd;
    padding: 15px 20px;
}

 .head-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo-text{
    color:#fff;
    font-size: 18px;
}

.Chat-box {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.AimessageAppear{
    display: flex;
    gap: 11px;
    align-items: center;
    
}

.messageAi{
    background: #f3f1f7;
  padding: 10px 16px;
    border-radius: 18px;
    font-size: 14px
    

}

.usermessage {
    background: #f3f1f7; 
    padding: 10px 16px;
    border-radius: 18px 18px 0px 18px;
    font-size: 14px;
    width: fit-content;    
    margin: 10px 0 10px auto;
     
}


.Chatfooter{
   padding: 15px 20px;
    border-top: 1px solid #ffe4e6;
}

.chat-form{
   display: flex;
    gap: 10px;
}

.messageInput{
flex: 1;
    padding: 12px;
    border: 1px solid #fbcfe8;
    border-radius: 25px;
    outline: none;
    font-size: 14px;
    
}

.Sparkle {
    width: 40px;
    height: 40px;
    object-fit: contain; 
    border-radius: 50%;
}

.send{
   background-color:#eb9fd5;
    color: #fff;
   border: none;
    padding: 0 24px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;

}


.quick-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}

.quick-options button {
  background-color: #f3f1f7;
  color: #9d174d;
  border: 1px solid #fbcfe8;
  padding: 10px 18px;
  border-radius: 18px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.quick-options button:hover {
  background-color: #eb9fd5;
  color: #fff;
}